.main{
    text-align: justify;
    font-size: medium;
    font-style: italic;
}
.iteams{
    padding-top: 100px;
    background-color:rgb(7, 7, 31);
    color: aliceblue;
}
.traditional{
    text-align: justify;
    font-size: medium;
    font-style: italic;
}
.cultural{
    text-align: justify;
    font-size: medium;
    font-style: italic;
}







